body{
    background-color: rgb(187, 181, 193);
    color: black;
    margin: 0;
    text-align: center; 
}
h1 {
    font-size: 5.0rem;
    margin: 35px auto 0 auto;
    font-family: cursive;
    
  }
  nav{
    padding: 15px;
  }
  .nav-item {
    display: flex;
    display: inline-block;
    padding: 18px;
  }
  h2 {
    color: #2d6868;    
    font-size: 2.5rem; 
    padding: 55px;
    
  }
  h3 {    
    font-family: sans-serif;
  }

  .header-container {    
    position: relative;
    padding: 1px;
  }
  
  .main-container {
    padding: 10px;
    margin: 50px 0;
  }
  
  p {
    line-height: 2;
    width: 40%;
    margin: auto;
  }
 
  .listings{
    display: flex;
    display: inline-block; 
  }
